html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
}

/* universal class */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Inter';
}

/* end : universal class */

/* start : variables */

:root {
    --color-blue: #2264E6;
    --color-light-blue: #2264E5;
    --color-purple: #4F5AED;
    --color-light-purple: #F0F1FA;
    --color-gray: #666666;
    --color-light-gray: #E9EDF5;
    --color-red: #D12953;
    --color-pink: #FAF0F3;
    --color-dark-green: #14804A;
    --color-light-green: #E1FCEF;
    --color-gray-600: #5A6376;
    --color-gray-700: #464F60;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-size-11: 11px;
    --font-size-14: 14px;

}

/* end : variables */

.mainContainer {
    overflow: hidden;
    flex-grow: 1;
}

/* start : form style */

.form-section {
    padding: 16px 20px;
}

.form-head {
    margin-bottom: 20px;
}

.form {
    padding: 20px 0;
}

.filter-button {
    padding: 10px 15px;
    border-radius: 7px;
    background-color: #FFFFFF;
    color: var(--color-blue);
    border: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(70, 79, 96, 0.16), 0px 2px 5px rgba(89, 96, 120, 0.1);
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
}

.icon {
    margin-right: 10px;
}

.add-button {
    padding: 10px 15px;
    background-color: var(--color-light-blue);
    border: 0;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.heading-name {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-600);
    margin-bottom: 9px;
}

.data-box {
    border-radius: 6px;
    border: 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 0px 0px 1px rgba(104, 113, 130, 0.16);
    padding: 8px;
    margin-right: 20px;
    outline: 0;
}

.selectStatus {
    color: lightgray;
}

.update-data-button {
    background-color: rgba(235, 240, 250, 0.75);
    padding: 12px 20px;
}

.cancelButton {
    padding: 11px 15px;
    background-color: var(--color-gray);
    border-radius: 7px;
    color: #FFFFFF;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-500);
    border: 0;
    cursor: pointer;
}

.saveButton,
.updateButton {
    padding: 11px 15px;
    background-color: var(--color-blue);
    color: #FFFFFF;
    font-size: var(--font-size-14);
    border: 0;
    border-radius: 7px;
    margin-left: 20px;
    cursor: pointer;
}

.updateButton {
    width: 150px;
    background-color: lightskyblue;
}

.errorOption {
    color: red;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #FAF0F3;
}

.openOption {
    color: #4F5AED;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #F0F1FA;
}

.successOption {
    color: #14804A;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #E1FCEF;
}

.inactiveOption {
    color: #5A6376;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #E9EDF5;
}

/* end : form style */

/* start : table style */

.table-section {
    overflow: auto;
    max-height: 600px;
}

#table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    position: relative;
}

.tableHead {
    position: sticky;
    top: 0;
}

.edit-button {
    padding: 10px 15px;
    font-size: 600;
    border-radius: 7px;
    cursor: pointer;
    border: 0;
    background-color: rgba(0, 128, 0, 0.685);
    color: #FFFFFF;
}

.delete-button {
    padding: 10px 15px;
    background-color: rgba(255, 0, 0, 0.678);
    color: white;
    font-size: 600;
    border-radius: 7px;
    cursor: pointer;
    border: 0;
    margin-right: 10px;
}

#table,
.tableData {
    text-align: center;
}

.tableHeadingData,
.tableData {
    padding-left: 20px;
}

tr:nth-child(even) {
    background: #EBF0FA;
    border-left: 2px solid #2264E6;
    height: 64px;
}

tr:nth-child(odd) {
    height: 64px;
}

.tableHeadingData {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-600);
    color: var(--color-gray-700);
    margin-bottom: 20px;
}

.tableData {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-600);
    color: var(--color-gray-700);
}

.actionColumn {
    display: flex;
    justify-content: center;
    align-content: center;
}

.nameOfUser {
    color: #171C26;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-500);
}

.userCurrentBalance {
    color: #D12953;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
}

.userCurrentBalancePositive {
    color: green;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
}

.rateOfUser,
.depositOfUser,
.userDescription {
    color: #464F60;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
}

.color-red {
    color: red;
    font-size: var(--font-size-11);
    margin-top: 5px;
}


/* end : table style */

/* start : helper class */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-13 {
    margin-bottom: 13px;
}

.flex-1 {
    flex: 1;
}

/* end : helper class */

/* start : responsive */

@media (max-width:1085px) {

    .edit-button,
    .delete-button {
        margin: 2px;
    }

    .edit-button {
        width: 75px;
    }
}

@media (max-width: 950px) {
    th {
        display: none;
    }

    td {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid lightgrey;
    }

    .edit-button,
    .delete-button {
        width: 47%;
    }

}

@media (max-width: 730px) {

    .form-first-section,
    .form-second-section {
        display: flex;
        flex-direction: column;
    }

    .update-data-button {
        display: flex;
        justify-content: flex-start;
    }
}

/* end : responsive */