/* CSS variable */
:root {
    --color: #adb8cc;
    --bg-color: #ffffff;
    --font-style: roboto;
    --border-radius: 50%;
}

.img1 {
    margin: 15.5px;
}

.number {
    font-style: var(--font-style);
    font-size: 24px;
    font-weight: 700;
    color: #4d5e80;
}

/* 1st section : Bank details */
.icon {
    height: 50px;
    width: 50px;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
}

body {
    background-color: #e0e0e0;
}

.bank {
    color: #adb8cc;
    line-height: 7px;
}

/* 1st section is end here  */
/* 2ns section start here  */
.apple {
    background-color: #ff6633;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    color: white;
    line-height: 25px;
}

.number1 {
    font-style: var(--font-style);
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin: 27px;
    line-height: 60px;
}

.img2 {
    height: 25px;
    width: 20px;
    margin: 30px;
}

.iphone {
    font-style: Monospace;
    margin: 27px;
    font-weight: 50;
    line-height: 5px;
}

/* 2nd section end here  */
/* 3rd section start here  */
.Account {
    height: 50px;
    width: 50px;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
}

.investment {
    color: var(--color);
    line-height: 5px;
}

/* 3rd section end here  */
/* 4th section : button start here  */
.star {
    height: 50px;
    width: 50px;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
}

.cs {
    color: var(--color);
    line-height: 5px;
}

/* 4th section end here  */
/* 5th section : cashback start here  */
.cashback {
    height: 50px;
    width: 50px;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
}

.back {
    color: var(--color);
    line-height: 5px;
}

/* 5th section end here  */

/* use class = Background-color img3  */
.Background-color {
    background-color: var(--bg-color);
    width: 160px;
    height: 145px;
    border-radius: 10px;
}

.img3 {
    margin: 40px 50px 60px 60px;
}
/* End class=Background-color img3  */

/* 6th section google play start here  */

.GP {
    font-size: 12px;
    font-weight: 50;
    margin: -20px 50px 20px 40px;
}

/* 6th section end here  */
/* 7th section VPN start here  */

.Buy {
    font-size: 12px;
    font-weight: 50;
    margin: -20px 25px 20px 25px;
}

/* 7th section end here  */
/* 8th section service rental start here  */

.rental {
    font-size: 12px;
    font-weight: 50;
    margin: -20px 22px 20px 33px;
}

/* 8th section end here  */