html,
body {
    height: 100%;
    width: 100%;
}

/* universal selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* end : universal selector */


.first-input,
.second-input {
    margin: 20px;
    font-size: 20px;
    font-weight: 300;
}

.name-input,
.name-domain {
    padding: 10px;
}

.searchbar {
    padding: 10px;
    margin: 20px;
}

.first-name,
.tech-name {
    padding-bottom: 5px;
}

.update-button,
.submit-button {
    height: 40px;
    width: 150px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    background-color: aqua;
    border-radius: 7px;
    cursor: pointer;
    border: 0;
}

.update-button {
    color: aliceblue;
    margin-left: 20px;
    background-color: rgb(0, 151, 126);
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 20px;
}

.th {
    font-size: 25px;
    padding: 10px 0;
}

.tr {
    text-align: center;
    border-top: 1px solid black;
}

.td {
    padding: 3px;
    font-size: 20px;
}

.edit-button {
    height: 35px;
    width: 60px;
    font-size: 600;
    border-radius: 7px;
    cursor: pointer;
    border: 0;
}

.delete-button {
    height: 35px;
    width: 75px;
    background-color: red;
    color: white;
    font-size: 600;
    border-radius: 7px;
    cursor: pointer;
    border: 0;
}

/* start : helper classes */

.d-flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.b-radius-5 {
    border-radius: 5px;
}

/* end : helper classes */